* {
    margin: 0;
    padding: 0;
}

.menu {
    max-height: 300px;
    display: flex;
    background-color: grey;
    padding: 10px;
    margin-bottom: 10px;
}

.menu .logo {
    display: flex;
    max-height: 100px;

}

.menu .links {
    display: flex;
    padding: 5px;
    flex-direction: row;
    justify-content: space-evenly;
}

.menu .links a {
    background-color: lightgray;
    padding: 25px;
    border-radius: 15px;
    font-weight: bolder;
    font-size: 1.2rem;
    color: black;
    text-decoration-line: none;

}

.contact {
    background: #222;
    color: white;
    border-radius: 15px;
    padding: 30px;
    margin: 150px;
}

.contact h2 {

    margin-bottom: 10px;
}

.links {
    width: 60%;
    margin: auto;
    color: black;
}


.imbd {
    display: flex;
    flex-direction: column;
}

.videoland {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.nlfilm {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}


.filmtext {
    align-items: center;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.wrapper {
    width: 80%;
    margin: auto;
    background-color: white;
}


.dart {
    grid-area: darth;
}

.darth {
    padding: 15px;
    grid-area: darth;
}

.luke {
    grid-area: luke;
}

.container {
    color: white;
    border-radius: 15px;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

.container-column {
    border-radius: 15px;
    padding: 25px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 30px;
}

.container-column p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.container-column.black {
    background: #222;
    color: white;
}

.container-column.orange {
    background: orange;
}

.container-column.blue {
    background: blue;
    color: white;
}

.container-column.red {
    background: red;
}

.container a {
    text-decoration: none;
    color: white;
}

.container-column.black a {
    text-decoration: underline;
    color: white;
}

.logo img {
    width: auto;
    height: 5rem;
}

.wrapper.yellow {
    background-color: yellow;
}

.wrapper.green {
    background-color: green;
}

.container p {
    margin-left: 1rem;
}

footer {
    background: #222;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20px; /* Height of the footer */

}

.contact2 {
    color: white;
    border-radius: 15px;
    text-align: center;
}

.container-column img {
    width: auto;
    height: 15rem;
}

.container.black {
    background: #222;
}

.container-column h1 {
    display: flex;
    justify-content: center;
}

.container-column.song {
    border-radius: 15px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.container.song {
    color: white;
    border-radius: 15px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}