*{
    margin: 0;
    padding: 0;
}



.contact{
    background: #222;
    color: white;
    border-radius: 15 px;
    padding: 30px;
    margin: 150px;
}

.links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: auto;
    color: black;
   
    
}


.imbd{
    display: flex;
    flex-direction: column;
}

.videoland{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.nlfilm{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}


.filmtext{
    align-items: center;
}