*{
    margin: 0;
    padding: 0;
}



.contact{
    background: #222;
    color: white;
    border-radius: 15 px;
    padding: 30px;
    margin: 150px;
}

.links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: auto;
    color: black;
   
    
}


.imbd{
    display: flex;
    flex-direction: column;
}

.videoland{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.nlfilm{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}


.filmtext{
    align-items: center;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}

.wrapper{
    width: 80%;
    margin: auto;
    background-color: white;
}


.dart{
    grid-area: darth;
}

.darth{
    padding: 15px;
    grid-area: darth;
}

.luke{
    grid-area: luke;
}

.container{
    background: #222;
    color: white;
    /* border-radius: 15px; */
    padding: 25px;
    display: flex;
    justify-content: space-between;
    /* margin: 30px; */
}

.container-column{
    border-radius: 15px;
    padding: 25px;
    display: flex;
    justify-content: space;
    flex-direction: column;
    margin: 30px;
}

.container-column p{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.container-column.black{
    background: #222;
    color: white;
}

.container-column.orange{
    background: orange;
}

.container-column.blue{
    background: blue;
    color: white;
}

.container-column.red{
    background: red;
}

.container a{
    text-decoration: none;
    color: white;
}

.container-column.black a{
    text-decoration: underline;
    color: white;
}

.logo img{
    width: auto;
    height: 5rem;
}

.wrapper.yellow{
    background-color: yellow;
}

.wrapper.green{
    background-color: green;
}

.container p{
    margin-left: 1rem;
}